body {
  margin: 0;
  font-family: Arial;
}

/* Full page wrapper */
.app {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, #5f9cff, #7b5cff);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Dark Mode Full Page */
.app.dark {
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}

/* Card */
.container {
  background: #fdf6e3;
  padding: 25px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

h2 {
  text-align: center;
  margin-bottom: 15px;
}

/* Top Right Button */
.top-bar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.top-bar button {
  background: black;
  color: white;
}

/* Input */
form {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

input {
  flex: 1;
  padding: 8px;
  border: 2px solid #444;
  border-radius: 4px;
}

/* Buttons */
button {
  padding: 6px 12px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

form button {
  background: green;
  color: white;
}

.edit-btn {
  background: orange;
  color: white;
  margin-right: 5px;
}

.delete-btn {
  background: red;
  color: white;
}

/* List */
ul {
  list-style: none;
  padding: 0;
}

li {
  background: #eaf7f6;
  padding: 8px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

/* Dark Mode Content */
.dark .container {
  background: #1e1e1e;
  color: white;
}

.dark input {
  background: #333;
  color: white;
  border: 1px solid #888;
}

.dark li {
  background: #2c2c2c;
}